body{
    background-image: url(../../../public/background/bg-1.png);
    background-repeat:no-repeat;
	background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.icon{
    width: 27vw;
    height: 27vw;
    margin: 4vw;
    margin-bottom: 5vw;
    padding: 5vw;
    border-radius: 30px;
    cursor: pointer;
}
.icon img{
    width: 27vw;
    height: 27vw;
}